.ceres_container {
    height: fit-content;
}

.ceres-container-text {
    max-height: 500px;
    border: 5px solid black;   
    overflow: scroll;
    word-wrap: break-word; 
    white-space: pre-wrap;
    padding: 5px;
}

.ceres-container-media {
    float: right;
    height: 500px;
    border: 5px solid yellow;
    padding: 5px;
    width: 55%;
}

.ceres-container-dl {
    border: 5px solid red;
    padding: 5px;    
}
