.ceres-container-text {
    max-height: 500px;
    overflow: scroll;
    word-wrap: break-word; 
    white-space: pre-wrap;
    padding: 5px;
}

.ceres-container-media {
    float: right;
    height: 500px;
    padding: 5px;
    width: 55%;
}
